{% extends 'oracle/base.html' %}
{% block content %}
<script src="/static/third_party/kendo_UI/kendo_all_min.js"></script>
<link rel="stylesheet" href="/static/third_party/jquery-contextMenu-2.4.5/jquery.contextMenu.css" />
<style>
        html {
            size: 21cm 29.7cm;
            margin: 0mm 45mm 30mm 45mm; /* change the margins as you want them to be. */
            
        }
    label {
        font-weight: normal !important;
    }
    .form-content-left{
        padding-left: 100px;
    }
    .form-content{
        font-size: 20px !important;
        min-height: 35px;
    }
    .form-content-border{
    border: 1px solid;
    }
    select, input:not([type]), input[type="date" i], input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i]{
        border-width: 0px;
        border-bottom: 0px solid #000;
        width: 100%;
        padding: 0px;
        text-transform: uppercase;
    }
    .text-transform{
        text-transform: uppercase;
    }
    #id_reference_email_1, #id_reference_email_2{
        text-transform: none;
    }
        #id_total_working_experience{
        display: inline-block;
        width: 10%;
        border-bottom: 1px solid;
    }
    #id_disclaimer_name, #id_disclaimer_date{
        display: inline-block;
        width: 80%;
    }
    .section-padding{
        padding-top: 15px;
    }
    #id_position, #id_applied_date{
        width: 50%;
    }
    #id_note{
        width: 100%;
    }
    p{
        text-align: justify;
        padding-top: 10px;
    }
    #agreement_checkbox{
        top: 7px;
        left: 10px;
        height: 25px;
        width: 25px;
    }
    textarea {
        resize: none;
    }
    .form-font-resize{
        font-size: 15px !important;
        min-height: 50px;
    }
</style>
<div id="" class="content" style="margin-left: 0px">
    <div  class="container-fluid" style="padding-left: 0px;">
        {% for credential in credential_list %}
            <div class="row m-t-2">
                <div class="col-lg-1" style="padding: 0px; margin: 0px;"></div>
                <div class="col-lg-10 col-xs-12" style="padding: 0px; margin: 0px;">
                    <img src="/media/ui/sky_header.png" alt="" height="150" width="100%">
                    <h2><center>JOB APPLICATION FORM</center></h2>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-lg-6 form-content form-content-left">
                                <label>Position applied for :</label>
                                {{ credential.position }}
                        </div>
                        <div class="col-lg-6 form-content" style="text-align: right; padding-right: 100px;">
                                <label style="display: inline-block;">Date :</label>
                                {{ credential.applied_date }}
                        </div>        
                    </div>
                    <hr style="border-top: 7px solid #000;">
                    <div class="row m-t-2">
                        <div class="col-lg-7 form-content form-content-left">
                            <p>Attention :<br>
                            1. Please read this form carefully and fill it in using only CAPITAL LETTERS <br>
                            2. Submit one passport sized photo taken recently<br>
                            3. Certificates which support your application<br>
                            4. Latest month pay slip<br>
                            5. All question must be answered. If it is no applicable answer N/A<br>
                        </div>
                        <div class="col-lg-5 form-content" style="padding-left: 200px;">
                            <div style="text-align: center;">
                                <img src="/media/{{ credential.photo }}"  onerror="this.src='/media/default/poster_low.png'" width="150" height="200" >
                            </div>
                        </div>
                    </div>
                    <hr style="border-top: 7px solid #000;">
                    <!-- START INDIVIUAL PARTICULARS -->
                    <div class="row m-t-2">
                        <h2 class="form-content-left">1. <span style="border-bottom: 3px solid #000;">INDIVIDUAL PARTICULARS</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6 form-content form-content-border">
                            <label>Name (as in NRIC) :</label><br>
                            {% filter upper %}
                            {{ credential.name }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-4 form-content form-content-border">
                            <label>Commonly Known as :</label><br>
                            {% filter upper %}
                            {{ credential.nick_name }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <label>Current Address : </label><br>
                            {% filter upper %}
                            {{ credential.address }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label>Age : </label><br>
                            {{ credential.age }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label>Gender : </label><br>
                            {% filter upper %}
                            {{ credential.get_gender_display }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label>Marital Status : </label><br>
                            {% filter upper %}
                            {{ credential.get_marital_status_display }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label>Nationality : </label><br>
                            {% filter upper %}
                            {{ credential.get_nationality_display }}
                            {% endfilter %}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 form-content form-content-border">
                            <label id="passport_no" hidden>Passport No : </label>
                            <label id="IC_no">NRIC No : </label><br>
                            {{ credential.passport_ic }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label>Mobile Phone No : </label><br>
                            {{ credential.mobile_phone }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label>Contact No : </label><br>
                            {{ credential.contact_phone }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div id="foreigner_country_state" class="row m-t-2">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 form-content form-content-border" style="font-size: 17px !important; min-height: 63px;">
                                <label>Are you currently living in Malaysia?</label><br>
                                {{ credential.get_country_live_in_display }}
                            </div>
                            <div class="col-lg-5 form-content form-content-border" style="font-size: 17px !important; min-height: 63px;">
                                <label>Which Country are you originated from?</label><br>
                                {{ credential.country_originated_from }}
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3 form-content form-content-border" style="font-size: 17px !important; min-height: 63px;">
                            <label>Do you have medical condition?</label><br>
                            {{ credential.get_medical_condition_display }}
                        </div>
                        <div class="col-lg-7 form-content form-content-border">
                            <label>If yes, please identify :</label><br>
                            {{ credential.medical_identify }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3 form-content form-content-border" style="font-size: 17px !important; min-height: 63px;">
                            <label>Do you have any police record?</label><br>
                            {{ credential.get_police_record_display }}
                        </div>
                        <div class="col-lg-7 form-content form-content-border">
                            <label>If yes, please identify case involved :</label><br>
                            {{ credential.police_identify }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- END INDIVIUAL PARTICULARS -->
                    <!-- START EDUCATION AND TRAINING -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">2. <span style="border-bottom: 3px solid #000;">EDUCATION AND TRAINING</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;"></div>
                        <div class="col-lg-4 form-content form-content-border">
                            <label>Name of School / College / University</label>
                        </div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label style="font-size: 17px !important;">Level of Certification</label>
                        </div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label style="font-size: 17px !important;">Year of Graduated</label>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div id="spm_section" class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            <label>SPM</label>
                        </div>
                        <div class="col-lg-4 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.spm_school_name }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.spm_certificate_level }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ spm_graduated_year }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            <label style="font-size: 18px !important;">Highest Education</label>
                        </div>
                        <div class="col-lg-4 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.highest_education_name }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.highest_certificate_level }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ highest_graduated_year }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            <label>Others</label>
                        </div>
                        <div class="col-lg-4 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.professional_college_name }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ credential.professional_certificate_level }}
                        </div>
                        <div class="col-lg-2 form-content form-content-border" style="min-height: 35px;">
                            {{ professional_graduated_year }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <label>Language and dialects you speaks :</label><br>
                            <span class="text-transform">{{ credential.language }}</span>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- END EDUCATION AND TRAINING -->
                    <!-- START WORKING EXPERIENCE -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">3. <span style="border-bottom: 3px solid #000;">WORKING EXPERIENCE</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content">
                            <label style="display: inline-block;">Total working experience : </label> 
                            {{ credential.total_working_experience }}
                            <label style="display: inline-block;"> years</label> 
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border" style="min-height: 35px;">
                            <label>Portfolio / LinkedIN / Jobstreet URL (1) : </label><br>
                            {{ credential.portfolio_url }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border" style="min-height: 35px;">
                            <label>Portfolio / LinkedIN / Jobstreet URL (2) : </label><br>
                            {{ credential.portfolio_url_2 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border" style="min-height: 35px;">
                            <label>Portfolio / LinkedIN / Jobstreet URL (3) : </label><br>
                            {{ credential.portfolio_url_3 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Employer (1) : </label><br>
                            {{ credential.employer_1 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Job Title : </label><br>
                            {{ credential.job_title_1 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Date Employed : </label><br>
                            {{ credential.date_employed_1 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                                <label>Date End : </label><br>
                            {{ credential.date_end_1 }}
                        </div>
                        <div class="col-lg-1"></div>       
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <hr style="border-top: 2px solid #000; margin-top: 0px; margin-bottom: 0px;">
                        </div>
                        <div class="col-lg-1"></div>       
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Employer (2) : </label><br>
                            {{ credential.employer_2 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Job Title : </label><br>
                            {{ credential.job_title_2 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Date Employed : </label><br>
                            {{ credential.date_employed_2 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                                <label>Date End : </label><br>
                            {{ credential.date_end_2 }}
                        </div>
                        <div class="col-lg-1"></div>       
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <hr style="border-top: 2px solid #000; margin-top: 0px; margin-bottom: 0px;">
                        </div>
                        <div class="col-lg-1"></div>       
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Employer (3) : </label><br>
                            {{ credential.employer_3 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Job Title : </label><br>
                            {{ credential.job_title_3 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                            <label>Date Employed : </label><br>
                            {{ credential.date_employed_3 }}
                        </div>
                        <div class="col-lg-5 form-content form-content-border" style="min-height: 35px;">
                                <label>Date End : </label><br>
                            {{ credential.date_end_3 }}
                        </div>
                        <div class="col-lg-1"></div>       
                    </div>
                    <!-- END WORKING EXPERIENCE -->
                    <!-- START MISCELLANEOUS -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">4. <span style="border-bottom: 3px solid #000;">MISCELLANEOUS</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 form-content form-content-border">
                            <label>Available Joining Date : </label><br>
                            {{ available_joining_date }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label style="font-size: 18px !important;">Current Pay by Month (MYR) : </label> 
                            <span>MYR : </span>{{ credential.current_pay }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                            <label style="font-size: 18px !important;">Expected Pay by Month (MYR): </label> 
                            <span>MYR : </span>{{ credential.expected_pay }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- END MISCELLANEOUS -->
                    <!-- START PERSONAL INTEREST -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">5. <span style="border-bottom: 3px solid #000;">PERSONAL INTEREST</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <label>Hobbies : </label><br>
                            {% filter upper %}
                            {{ credential.hobbies }}
                            {% endfilter %}      
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">
                            <label>Other information which help to consider your application : </label><br>
                            {% filter upper %}
                            {{ credential.other_information }}
                            {% endfilter %}          
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- END PERSONAL INTEREST -->
                    <!-- START REFERENCE -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">6. <span style="border-bottom: 3px solid #000;">REFERENCE (PREVIOUS/CURRENT SUPERIOR/LECTURER)</span></h2>
                        <br>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label>Title</label>
                        </div>
                        <div class="col-lg-2 form-content form-content-border">
                            <label>COMPANY</label>
                        </div>
                        <div class="col-lg-1 form-content form-content-border" style="padding: 0px !important;">
                            <label style="padding-left: 0px; font-size:17px;">CONTACT</label>
                        </div>
                        <div class="col-lg-3 form-content form-content-border">
                                <label style="font-size: 18px !important;">EMAIL ADDRESS</label>
                            </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize">
                            {% filter upper %}
                            {{ credential.reference_name_1 }}
                            {% endfilter %}     
                        </div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize">
                            {% filter upper %}
                            {{ credential.reference_title_1 }}
                            {% endfilter %}     
                        </div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize"> 
                            {% filter upper %}
                            {{ credential.reference_company_1 }}
                            {% endfilter %}       
                        </div>
                        <div class="col-lg-1 form-content form-content-border form-font-resize" style="padding-left: 5px !important;">
                            {{ credential.reference_contact_1 }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border form-font-resize">
                            {{ credential.reference_email_1 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize">
                            {% filter upper %}
                            {{ credential.reference_name_2 }}
                            {% endfilter %} 
                        </div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize">
                            {% filter upper %}
                            {{ credential.reference_title_2 }}
                            {% endfilter %}    
                        </div>
                        <div class="col-lg-2 form-content form-content-border form-font-resize">
                            {% filter upper %}
                            {{ credential.reference_company_2 }}
                            {% endfilter %} 
                        </div>
                        <div class="col-lg-1 form-content form-content-border form-font-resize" style="padding-left: 5px !important;">
                            {{ credential.reference_contact_2 }}
                        </div>
                        <div class="col-lg-3 form-content form-content-border form-font-resize">
                            {{ credential.reference_email_2 }}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <!-- END REFERENCE -->
                    <h1 style="padding-top:70px;"><center>CONFIDENTIALITY AGREEMENT</center></h1>
                    <div class="row m-t-2">
                        <div class="col-lg-1"></div>

                        <div class="col-lg-10 form-content">
                            
                            <p>The recipient named below (“<b>Recipient</b>”) wishes to visit or enter into discussion with  Sky Animation Sdn Bhd
                                    (“<b>LSA</b>”) and LSA consents to such visit or discussion on the condition that this Confidentiality Undertaking is executed
                                    by the Recipient.</p>
                            <p>The Recipient hereby agrees that any information learnt during or subsequent to his/her visit to, or discussion with, LSA
                                    pertaining to games in development, technology, business strategy, finances, game ideas and any other information
                                    likely to be unique to LSA shall be considered confidential information (“<b>Confidential Information</b>”).</p>  
                            <p>The Recipient agrees to maintain the confidentiality of the Confidential Information, to prevent its unauthorised
                                    dissemination and to use the Confidential Information only in accordance with the terms hereof. The obligations of
                                    confidentiality and non-use in this agreement shall not apply to Confidential Information:</p>    
                            <div style="padding-left: 60px; padding-right: 60px">
                                <p>i) That was generally known when received; or becomes generally known through no fault of the Recipient;
                                    or<br><br>
                                    ii) That is or hereafter becomes lawfully obtainable from other sources; or<br><br>
                                    iii) That has to be disclosed to regulatory authorities having jurisdiction over either party or as may otherwise
                                    be required by law; or<br><br>
                                    iv) Where such duty of confidentiality is waived in writing by LSA; or<br><br>
                                    v) Where in the normal course of the Recipient’s business such Confidential Information comes into the
                                    Recipient’s possession through sources not involving a breach of any Confidential Information that is the
                                    subject of this agreement. In this case, the Recipient may use any Confidential Information he/she
                                    receives, but should nevertheless endeavour to keep it confidential.</p>        
                            </div>        
                            <p>The Recipient further agrees not to use the Confidential Information for personal gain or for the account of a third party
                            unless released from this agreement in writing by LSA.</p>
                            <p>The Recipient agrees to return all Confidential Information including any documents, graphics, data, code and ROMs
                            to LSA and to permanently delete all electronically stored copies of such Confidential Information immediately upon
                            written or verbal request from LSA.</p>
                            <p>The Recipient acknowledges that the unauthorised disclosure or use of the Confidential Information could cause
                            significant harm to LSA, which may be difficult to quantify.</p>
                            <p>This Agreement, which is subject to Malaysian law, is binding upon the parties from the date of signing hereof until
                                    such time as no information disclosed pursuant to this agreement constitutes Confidential Information.</p>
                        </div>       
                            <div class="col-lg-1"></div>
                    </div>
                    <!-- START DISCLAIMER -->
                    <div class="row m-t-2 section-padding">
                        <h2 class="form-content-left">7. <span style="border-bottom: 3px solid #000;">DISCLAIMER</span></h2>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 form-content form-content-border">                
                            <label class="checkbox-inline container"><input disabled checked id="agreement_checkbox" type="checkbox"><span class="checkmark"></span> I hereby declare that above information given is true and I accept full responsibility for such information in the event that the information given is false then the company has the right to terminate my employment without assigning any reason whatsoever.<br><br>
                                I hereby agreed to follow the confidentiality agreement stated above from the date of signing hereof until such time. </label> 
                        </div>
                        <div class="col-lg-1"></div>
                        <br>
                    </div>
                    <div class="row m-t-2">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10 form-content form-content-border">                
                                <label style="height: 150px;">For Company Use :</label>
                            </div>
                            <div class="col-lg-1"></div>
                            <br>
                        </div>     
                <div class="col-lg-1" style="padding: 0px; margin: 0px;"></div>
                <!-- END DISCLAIMER -->
            </div>
        {% endfor %}
    </div>
</div>
<!--Context Menu-->
<script type="text/javascript" src="/static/third_party/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/third_party/jquery-contextMenu-2.4.5/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/static/third_party/jquery-contextMenu-2.4.5/jquery.ui.position.min.js"></script>
<script type="text/javascript" src="/static/third_party/jquery-contextMenu-2.4.5/main.js"></script>
<script>
    $(document).contextMenu({
        selector: '#applicant_credential',
        callback: function (menu_item_name, options) {
            if (menu_item_name == "print_pdf") {
                window.print();
            }
        },
        items: {
            "print_pdf": {name: "Export PDF/Print", icon: "fa-plus"}
        }
    })
</script>
{% endblock %}